@import url("/src/css/reset.css");
@import url("/src/css/framework.scss");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

$light-blue: #F0F8FF;
$roboto: 'Roboto', sans-serif;
$comforta: 'Comfortaa', cursive;

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: $roboto;
    background-color: $light-blue;
    height: 100%;
    cursor: default;
}

.main-container {
    height: 100%;
}

//Menu Container 
.menu-container {
    border: 1px solid red;
    background-color: $light-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 80%;
    justify-items: center;
    padding-top: 5rem;

    .menu-header {
        display: flex;
        justify-content: space-around;
        font-family: $comforta;
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: .75rem;
        height: fit-content;
        letter-spacing: -1px;
        color: #3796FD;
        width: 80%;
        border-bottom: 2px solid grey;

        .menu-icon {
            cursor: pointer;
        }
    }

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 80%;
        padding: 1.1rem;
        font-size: 1.1rem;
        border-radius: 20px;
        background-color: #3796FD;
        color: white;
        border: none;
        cursor: pointer;
    }

    .menu-lists {
        width: 80%;
    }

    .menuListTitle {
        color: #3796FD;
        border-bottom: 2px solid grey;
        font-family: $comforta;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        padding-bottom: .75rem;
    }
}

// Tasks Container 
.tasks-container {
    display: flex;
    padding-top: 5rem;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: hidden;
    width: 100%;
}

// Project Card
.project-card {
    position: relative;
    height: 40rem;
    min-width: 25rem;
    max-width: 25rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    background-color: $light-blue;
    margin: 0 2rem 0 2rem;
    padding: 3rem;
}

.cardHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #3796FD;
    border-bottom: 2px solid grey;
    padding-bottom: .75rem; 

    h3 {
        font-size: 2.25rem;
        font-weight: bold;
        color: black;
    }

    .cardAddIcon {
        cursor: pointer;
    }
}

// Individual List Items
.cardItems {
    width: 95%;
    margin: auto; 

    li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #3796FD;
        background-color: $light-blue;
        width: 100%;
        height: 2.25rem;
        margin: 1rem 0rem;
        border-radius: 3px;
        cursor: pointer;

        p {
            flex-basis: 85%;
            font-size: 1.1rem;
            border-bottom: 2px solid transparent;
        }

        .itemDelete {
            visibility: hidden;
            margin-right: .5rem;
            cursor: default;
        }
    }


    // Completed Item
    .completed {
        color: grey;
        border-color: grey;

        .itemDelete {
            visibility: visible;
        }

        &::after {
            position: absolute;
            height: 1px;
            background: grey;
            content: "";
            width: 85%;
            left: 1.5rem;
        }
    }
}









